{% load static %}

{% block navbar-left %}
<div class="app__navbar-left" id="app__navbar-left">
	<ul class="app__navbar-left-ul">
		<li class="app__navbar-left-item">
			<a class="app__navbar-left-link" href="{% url 'shop:list' %}">
				<span class="app__left-nav-button-icon material-icons material-icons-outlined">
					home
				</span>
				Dashboard
			</a>
		</li>
		<li class="app__navbar-left-item">
			<a class="app__navbar-left-link" href="{% url 'product:home' %}">
				<span class="app__left-nav-button-icon material-icons material-icons-outlined">
					assignment
				</span>
				Inventory
			</a>
		</li>
	</ul>
</div>
{% endblock navbar-left %}