{% extends 'app_base.html' %}
{% load static %}

{% block style %}
	<link rel="stylesheet"
		  href="{% static 'css/user_account/password/reset_password.css' %}">
{% endblock style %}

{% block content %}
	<div class="content" id="container-fluid">
		<div class="row reset-body justify-content-center reset-body-height">
			<h1 class="reset-text">Please click on the activation link sent to your email to reset the password.</h1>
			<small class="text-muted text-center">Please check the spam folder.</small>
		</div>
	</div>
{% endblock content %}