.user-profile-card {
	max-width: 600px;
	margin:auto;
}

.profile-hr {
	margin: 0px;
}

.user-profile-card {
	padding: 10px;
}

.user-profile-card-text {
	padding: 20px 0px 0px 0px;
}

.user-profile-card-body {
	padding: 0px 20px 0px 20px;
}

.user-profile-card-head {
	font-size: 20px;
	padding: 10px 20px 20px 30px;
	font-weight: bold;
}

.user-profile-card-foot {
	padding: 10px 20px 20px 0px;
}

#referral-code-input {
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
	.user-profile-card {
		margin: 0px 10px 10px 10px;
	}
}