{% extends 'app_base.html' %}
{% load static %}
{% load i18n %}
{% load shop_role %}

{% block style %}
<link rel="stylesheet" href="{% static 'shop/css/list.css' %}">
{% endblock style %}

{% block content %}
<div class="content" id="container-fluid">
	<div class="card app__shop-list">
		{% if request.user|has_shop_role:"Owner" %}
		<div class="row mb-3">
			<div class="col-12 text-right">
				<a class="btn btn-success" href="{% url 'shop:create' %}">{% trans 'Register Shop' %}</a>
			</div>
		</div>
		{% endif %}
		<table class="table table-hover">
			<thead class="thead-dark">
				<tr>
					<th scope="col">#</th>
					<th scope="col">{% trans 'Shop Name' %}</th>
					<th scope="col">{% trans 'Gross Sales' %}</th>
					<th scope="col">{% trans 'Net Margin' %}</th>
					<th scope="col">{% trans 'Gross Profit' %}</th>
				</tr>
			</thead>
			<tbody>
				{% for shop in shop_list %}
				<tr class="app__shop-list-row" data-url="{% url 'shop:detail' slug=shop.slug %}">
					<th scope="row">{{ forloop.counter }}</th>
					<td>{{ shop.name }}, {{ shop.area }}</td>
					<td>{{ shop.gross_sales_val }}</td>
					<td>{{ shop.net_margin }}</td>
					<td>{{ shop.gross_profit }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock content %}

{% block script %}
<script src="{% static 'shop/scripts/list.js' %}"></script>
{% endblock script %}