{% extends 'app_base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'shop/css/list.css' %}">
{% endblock style %}

{% block content %}
<div class="content" id="container-fluid">
	<div class="card app__shop-list">
		<div class="row mb-3">
			<div class="col-12 text-right">
				<a class="btn btn-success" href="{% url 'shop:create' %}">Register Shop</a>
			</div>
		</div>
		<table class="table table-hover">
			<thead class="thead-dark">
				<tr>
					<th scope="col">#</th>
					<th scope="col">Shop Name</th>
				</tr>
			</thead>
			<tbody>
				{% for shop in shop_list %}
				<tr class="app__shop-list-row" data-url="{% url 'shop:detail' slug=shop.slug %}">
					<th scope="row">{{ forloop.counter }}</th>
					<td>{{ shop.name }}, {{ shop.area }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock content %}

{% block script %}
<script src="{% static 'shop/scripts/list.js' %}"></script>
{% endblock script %}